# Java
*.class
*.jar
*.war
*.ear

# MacOS
.DS_Store

# IntelliJ IDEA
*.iml
.idea/
*.ipr
*.iws

# Gradle 관련
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Logs
logs/
*.log

# Spring Boot
target/
!src/main/resources/static/
!src/main/resources/templates/
